{% extends 'FirstApp/base.html' %}
{% block body-block %}
{{Payform.media}}
<div class="content" style="width: 1850px;">
<div class="row">
    <div class="col-1" style="text-align: right;">
        <a href="{% url 'jewel:resourcebulkPay' %}" class="btn btn-outline-primary" style="margin-top: 10px;margin-left: 10px;">Go Back</a>
    </div>
    <div class="col-3 column1" style="margin-bottom: 50px;">
        <div class="col3head">
            <h4><u>Dealer Details</u></h4>
        </div>
        <div class="row rowid">    
            {% for data in dataid %}
                <div class="col-6" style="text-align: right;border-bottom: 1px solid black;">
                    <p>Date </p>
                    <p>Dealer Name </p>
                    <p>Metal Type </p>
                    <p>Nature </p>
                    <p>Weight </p>
                    <p>Amount </p>
                    <p>Total Balance</p>
                </div>
                <div class="col-6" style="text-align: left;border-bottom: 1px solid black;">
                    <p>: {{data.Date}}</p>
                    <p>: {{data.Dealer_Name}}</p>
                    <p>: {{data.Metal_Type}}</p>
                    <p>: {{data.Nature}}</p>
                    <p>: {{data.Weight}}</p>
                    <p>: &#x20B9; {{data.Amount}}</p>
                    <p>: &#x20B9; {{TB}}</p>
                </div>
            {% endfor %}
            <p><h4><u>Payment Details : </u></h4></p>
            {% if TB != "0" %}
                <form  method="post" class="payform">
                    {% csrf_token %}
                    <div class="payform-body">
                        <p class="text-danger">{{error}}</p>
                        {{Payform.as_p}}
                    </div>
                    <div class="payform-tail">
                        <button type="submit" class="btn btn-outline-primary">Update</button>
                    </div>
                </form>
            {% else %}
            <form  method="post" class="payform" style="pointer-events: none;">
                    {% csrf_token %}
                    <div class="payform-body">
                        <p class="text-danger">{{error}}</p>
                        {{Payform.as_p}}
                    </div>
                    <div class="payform-tail">
                        <button type="submit" class="btn btn-outline-primary">Update</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="col-6" style="margin-bottom: 50px;">
        <table class="table table-bordered" style="margin-top: 100px;margin-left: 50px;text-align: center;width: 1000px;">
            <thead>
                <tr>
                    <th scope="col">Stock No</th>
                    <th scope="col">Payment Date</th>
                    <th scope="col">Dealer Name</th>
                    <th scope="col">Payment Mode</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for datas in paid_list %}
                    {% for data in zippedlist %}
                        <tr>
                            <td>{{datas.Dealer.Stock_No}}</td>
                            <td>{{data.2}}</td>
                            <td>{{datas.Dealer.Dealer_Name}}</td>
                            <td>{{data.0}}</td>
                            <td>{{data.1}}</td>
                            {% if Today == data.2 %}
                                <td style="text-align: left;border-color: white;width: 100px;">
                                    <a href="{{forloop.counter0}}" class="btn btn-sm">Remove</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
</div>
<style>
.column1
{
    margin-left: 50px;
    margin-top: 10px;
}
.col3head 
{
    padding: 10px;
    text-align: center;
    color: black;
    
}
.rowid
{
    border: 1px solid black;
    padding: 25px;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: black 1px 0px 10px;
}
.payform
{
    margin-left: 80px;
}
.payform-tail
{
    text-align: center;
}

.payform-body
{
    margin-top: 10px;
}
.form-control
{
    border-radius: 20px;
}
.Addform
{
    width: 330px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
.paymentclosed
{
    margin-top: 100px;
    text-align: center;
}
</style>
{% endblock %}