{% extends 'FirstApp/base.html' %}
{% block body-block %}
{{formadd.media}}
<div class="content" style="width: 1900px;">
    <div class="row">
        <div class="col-3" style="margin-bottom: 50px;">
            <div class="options">
                <div class="options-head">
                    <h5 style="padding: 20px;text-align: center;"><u>Options</u></h5>
                </div>
                <div class="options-body">
                    <p style="margin-top: 50px;"><b><u>New Materials Update</u></b></p>
                    <a href="{% url 'jewel:resourcebulkAdd' %}" class="btn btn-outline-danger btn-lg">Add</a><br>
                    <p style="margin-top: 30px;"><b><u>Payment Details Update</u></b></p>
                    <a href="{% url 'jewel:resourcebulkPay' %}" class="btn btn-outline-success btn-lg">Paid</a>
                </div>
            </div>
        </div>
        {% if formadd %}
            <div class="col-3" style="margin-bottom: 50px;">
                <div class="Data-Body" style="transform: translateX(-25%);">
                    <div class="head-form">
                        <h5><u>Add Details</u></h5>
                    </div>
                    <div class="Addform">
                        <form method="POST">
                            <div class="form-body">
                                {% csrf_token %}
                                {{formadd.as_p}}
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Update</button>
                        </form>
                    </div>
                </div> 
            </div> 
        {% elif datalist %}
            <div class="col-6" style="margin-bottom: 50px;">
                <div class="datalist">
                    <div class="datalisthead">
                        <h3><u>Business Details</u></h3>
                    </div>
                    <div class="datalistbody">
                        <table class="table table-bordered table-datalist">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">Dealer</th>
                                    <th scope="col">Date Purchased</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in datalist %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><a href="{{data.id}}">{{data.Dealer_Name}}</a></td>
                                        <td>{{data.Date}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-3" style="margin-bottom: 50px;">
                <div class="Empty-modelist" style="opacity: 0.5;text-align: center;margin-top: 250px;width: 800px;"> 
                    <i class="fas fa-box-open fa-9x"></i>
                    <h5>Empty</h5>
                </div>
            </div>
        {% endif %}
        {% if table %}
            <div class="col-6" style="margin-bottom: 50px;">
                <div class="table-content" style="transform: translateX(-20%);">
                    <table class="table table-bordered table-data">
                            <h3 style="text-align: center;margin-top: 50px;"><u>Business Details</u></h3>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Dealer Name</th>
                                <th scope="col">Metal_Type</th>
                                <th scope="col">Nature</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for datas in table %}
                            <tr>
                                <td>{{datas.Date}}</td>
                                <td>{{datas.Dealer_Name}}</td>
                                <td>{{datas.Metal_Type}}</td>
                                <td>{{datas.Nature}}</td>
                                <td>{{datas.Weight}}</td>
                                <td>&#x20B9; {{datas.Amount}}</td>
                                {% if Today == datas.Date %}
                                <td style="text-align: left;border-color: white;"><a href="{{datas.pk}}" class="btn btn-sm">
                                    <i class="fas fa-trash"> Delete</i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<style>
.options
{
    border: 1px solid black;
    height: 400px;
    width: 300px;
    margin: 50px;
    margin-top: 220px;
    position: fixed;
    box-shadow: black 1px 0 20px;
}
.options-head
{
    border: 1px solid black;
    height: 70px;
    background-color : rgb(49, 49, 49);
    color: white;
}
.options-body
{
    text-align: center;
    padding: 10px;
}
.Addform
{
    width: 330px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    box-shadow: black 1px 0 20px;
}
.form-control
{
    border-radius: 20px;
}
.head-form
{
    border: 1px solid black;
    width: 330px;
    height: 70px;
    margin-top: 90px;
    padding: 20px;
    text-align: center;
    background-color : rgb(49, 49, 49);
    color: white;
    box-shadow: black 1px 0 20px;
}
.form-body
{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 110%;
}
.table-data
{
    width: 1100px;
    text-align: center;
    margin-top: 10px;
}
.Data-Body
{
    position: fixed;
}
.datalisthead
{
    margin-top: 50px;
    text-align: center;
}
.datalistbody
{
    margin-top: 20px;
    text-align: center;
}
</style>
{% endblock %}