{% extends 'FirstApp/base.html' %}
{% block body-block %}
<div class="container">
    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1>Logged in</h1>
        {% else %}
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-outline-success btn-lg" href="{% url 'login' %}">Login</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>
        {% endif %}
</div>
<style>    
.jumbotron
{
    height: 200px;
    width: 500px;
    padding-left: 100px;
    border-radius: 10px;
    border: 1px black solid;
}
.container
{
    padding-top: 300px;
    padding-left: 300px;
}
</style>
{% endblock %}