{% extends 'FirstApp/base.html' %}
{% block body-block %}
{{form.media}}
{{form1.media}}
<div class="content" style="width: 1900px;">
    {% if reg %}
        <div class="registered">
            <h5 class="text-success">Registered successfully</h5>
        </div>
    {% else %}
        <div class="data">
            <h3 style="text-align: center;padding-bottom:30px;"><u>Register Your Id Here</u></h3>
            <form  method="POST">
                {% csrf_token %}
                {% for fields in form %}
                    <strong>{{fields.label_tag}}</strong>
                    {{fields}}
                    {% if fields.errors %}
                        <p>{{fields.errors}}</p>
                    {% endif %}
                {% endfor %}
                {% for fields in form1 %}
                    <strong>{{fields.label_tag}}</strong>
                    {{fields}}
                    {% if fields.errors %}
                        <p>{{fields.errors}}</p>
                    {% endif %}
                {% endfor %} <br>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-outline-primary">Register User</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>
<style>
.data
{
    width: 400px;
    margin-left: 750px;
    margin-top: 20px;
    border: 1px solid black;
    padding-left:30px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: black 1px 0px 10px;
}
.bord
{
    border-radius: 25px;
}
</style>
{% endblock %}