{% extends "FirstApp/base.html" %}
{% block body-block %}
<div class="content" style="width: 1900px;">
    <div class="row">
        <div class="col-1">
            <form>
                <input type="button" value="Go back" onclick="history.back()" class="btn btn-outline-primary">
            </form>
        </div>
        <div class="col-3">
            <div class="col4content">
                <div class="col4head">
                     <h3><u>New Chit</u></h3>
                </div>
                <div class="col4body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-outline-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="col8content">
                <div class="col8head">
                    <h3><u>Chit Plans and Schemes</u></h3>
                </div>
                <div class="col8body">
                    <ol>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ipsum itaque ut reiciendis et voluptatem tempora animi natus recusandae maxime at inventore nisi consequatur sed porro, fugiat unde provident? Animi?
                        </li>
                        <br>
                        <li>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, consequatur iusto ab illum nihil cumque aspernatur natus vitae iste ipsum, tempora dolor libero rerum. Facere optio iste eaque reiciendis neque.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.col4content
{
    margin: 50px;
    margin-top: 150px;
    width: 300px;
    border: 1px solid black;
    margin-bottom: 50px;
    box-shadow: black 1px 0px 10px;
}
.col4head
{
    padding: 20px;
    background-color: rgb(49,49,49);
    color: white;
    text-align: center;
}
.col4body
{
    padding: 20px;
}
.col-1
{
    padding: 50px;
}
.col8head
{
    text-align: center;
    font-size: 110%;
}
.col8body
{
    margin-top: 20px;
    font-size: 110%;
}
.col8content
{
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
}
</style>
{% endblock %}