{% extends "FirstApp/base.html" %}
{% block body-block %}
<div class="content" style="width: 1850px;">
    <div class="row">
    <div class="col-4">
        <div class="col4content">
            <div class="col4head">
                <h4><u>Points Update</u></h4>
            </div>
            <div class="col4body">
                {% if error %}
                    <div style="text-align: center;">
                        <i class="fas fa-user-times fa-7x"></i>
                        <h5 class="text-danger" style="margin-top: 60px;">{{error}}</h5>
                        <a class="btn btn-outline-primary btn-sm" style="margin-top: 20px;" href="{% url 'jewel:PointsUpdate' %}"><i class="fas fa-arrow-left"> Back</i></a>
                    </div>
                {% else %}
                    <form method="POST" class="form-group">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col8content">
            <div class="col8head">
                <h4><u>Points Table</u></h4>
            </div>
            <div class="col8body">
                <table class="table table-bordered" style="box-shadow: black 1px 0px 10px;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Points Earned</th>
                            <th scope="col">Amount Earned</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in Pointtable %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{data.Name.Name}}</td>
                                <td>{{data.Name.PhoneNumber}}</td>
                                <td>{{data.Points_Earned}}</td>
                                <td>{{data.Amount_Earned}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="col2content">
            <div class="col2head">
                <h4><u>Points Check</u></h4>
            </div>
            <div class="col2body">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="Search" id="Search Box" class="form-control" placeholder="Search for customer's Points" required>
                    <button class="btn btn-outline-success" style="margin-top:20px;">Search</button>
                </form>
                <div class="results">
                    {% if result %}
                        <div class="rowhead" style="text-align: center;margin-top: 30px;">
                            <h5 class="text-success"><u>Profile Found</u></h5>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col" style="font-size: 110%;text-align:left;">
                                <div style="transform: translateX(30%);">
                                    <p>Name</p>
                                    <p>Points</p>
                                    <p>Amount</p>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;font-size: 110%;">
                                <div style="transform: translateX(-15%);width: 120px;">
                                    {% for result in result %}
                                        <p>: {{result.Name}}</p>
                                        <p>: {{result.Points_Earned}}</p>
                                        <p>: &#x20B9; {{result.Amount_Earned}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% elif errors%}
                        <div class="errors" style="text-align: center;margin-top: 80px;">
                            <h4 class="text-danger"><u>{{errors}}</u></h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<style>
.col4content
{
    margin: 100px;
    border: 1px solid black;
    width: 300px;
    margin-top: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    margin-bottom: 50px;
    box-shadow: black 1px 0px 10px;
}
.col4head
{
    color: white;
    background-color: rgb(49,49,49);
    padding: 20px;
    text-align: center;
}
.col4body
{
    padding: 50px;
}
.form-control
{
    border-radius: 20px;
    text-align: left;
}
.col8content
{
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    width: 1100px;
    text-align: center;
    transform: translateX(-17.5%);
    margin-bottom: 50px;
}
.col8body
{
    margin-top: 20px;
}
.col2head
{
    border:1px solid black;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(49,49,49);
}
.col2content
{
    border: 1px solid black;
    margin-top: 200px;
    height: 470px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    position: fixed;
    box-shadow: black 1px 0px 10px;
}
.col2body
{
    padding: 20px;
    text-align: center;
}
</style>
{% endblock %}