{% extends 'FirstApp/base.html' %}
{% block body-block %}
{% load static %}
<div class="content" style="width: 1900px;">
    <div class="row">
        <div class="col-2">
            <div class="TaxandDiscount" style="position: fixed;">
                <div class="TaxandDiscounthead">
                    <h4><u>Tax & Discount</u></h4>
                </div>
                <div class="TaxandDiscountbody">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="Tax">GST <small>in %</small></label>
                            <input type="text" name="GST" id="Tax" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="IGST">IGST <small>in %</small></label>
                            <input type="text" name="IGST" id="IGST" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="Discount">Discount <small>in Rupees</small></label>
                            <input type="text" name="Discount" id="Discount" class="form-control" required>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="OLD">
                <div class="OLDhead">
                    <h4><u>Jewel Exchange</u></h4>
                </div>
                <div class="OLDbody">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{oldform.as_p}}
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-outline-success">Update</button>
                            <a class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Summary</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col6content1">
                <div class="col6head1" style="text-align: center;margin-top: 30px;">
                    <h4><u>Bill Details</u></h4>
                </div>
                <div class="image" style="text-align: center;margin-top: 10px;">
                    <img src="{% static 'logo.jpg' %}" alt="Uh-Oh" height="100px" width="250px">
                </div>
                <div class="col6body1">
                    <div class="row" style="margin-top: 20px;">
                        {% for Name in Name %}
                            <div class="col-2">
                                <p>Name : {{Name.Name}}</p> 
                            </div>
                            <div class="col-4">
                                <p>Phone Number : +91 {{Name.PhoneNumber}}</p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>Date : {{Date}} <a style="margin-left: 50px;" href="{% url 'jewel:Sale' %}" class="btn btn-outline-success">Save</a></p>
                            </div>
                        {% endfor %}
                    </div>
                    <table class="table" style="align-items: center;">
                        <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Item_id</th>
                            <th scope="col" >Item_type</th>
                            <th scope="col">Making_Charge</th>
                            <th scope="col">Wastage</th>
                            <th scope="col">Amount</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in zippedList %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                        </tr>
                        {% endfor %}
                        {% if ex != "0" %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Exchange</td>
                                <td>- ₹ {{ex}}</td>
                            </tr>
                        {% endif %}
                        {% if Total != "0.0" and Total != "0" %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total<small>(Without Tax)</small></td>
                                <td>{{Total}}</td>
                            </tr>
                        {% endif %}
                        {% for check in check %}
                            {% if check.GST_Tax != "0.0" and check.GST_Tax != "0" %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>CGST</td>
                                    <td>+ ₹ {{check.CGST_Tax}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>SGST</td>
                                    <td>+ ₹ {{check.SGST_Tax}}</td>
                                </tr>
                            {% endif %}
                            {% if check.IGST_Tax != "0.0" and check.IGST_Tax != "0" %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>IGST</td>
                                    <td>+ ₹ {{check.IGST_Tax}}</td>
                                </tr>
                            {% endif %}
                            {% if check.Discount != "0" %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Discount</td>
                                    <td>- ₹ {{check.Discount}}</td>
                                </tr>
                            {% endif %}
                            {% if check.Total != "0" %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total</small></td>
                                    <td>₹ {{check.Total}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if Total == Paid %}
                        <div style="text-align: center;">
                            <a href="SalesBill/" class="btn btn-outline-primary">Print Bill</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col6content2">
                <div class="col6head2">
                    <h4><u>Payment Methods</u></h4>
                </div>
                <div class="col6body2">
                    <form method="post">
                        {% csrf_token %}
                        <div class="Card_Payment" style="padding-bottom: 20px;border-bottom: 1px solid black;">
                            <div class="cardpaymenthead">
                                <h4><u>Card Payment Details</u><small style="margin-left: 70px;" class="text-danger">{{ErrorAmount}}</small></h4>
                            </div>
                            <div class="cardpaymentbody" style="padding: 10px;">
                                <div class="row">
                                    <div class="col">
                                        Card Holder Name  {{form.Card}}
                                    </div>
                                    <div class="col">
                                        Card Number  {{form.Card_Holder}}
                                    </div>
                                    <div class="col">
                                        Card Amount  {{form.Card_Amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="OnlinePayment" style="padding-top:20px;padding-bottom: 20px;border-bottom: 1px solid black;">
                            <div class="OnlinePaymenthead">
                                <h4><u>Online Payment Details</u><small style="margin-left: 70px;" class="text-danger">{{ErrorAmount}}</small></h4>
                            </div>
                            <div class="OnlinePaymentbody" style="padding: 10px;">
                                <div class="row">
                                    <div class="col">
                                        Online Transfer UPI ID  {{form.Online_Transfer_UPI}}
                                    </div>
                                    <div class="col">
                                        Amount  {{form.Online_Amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ChitPayment" style="padding-top:20px;padding-bottom: 20px;border-bottom: 1px solid black;">
                            <div class="ChitPaymenthead">
                                <h4><u>Chit Reduction Details</u><small style="margin-left: 70px;" class="text-danger">{{ErrorChit}}</small></h4>
                            </div>
                            <div class="ChitPaymentbody" style="padding: 10px;">
                                <div class="row">
                                    <div class="col">
                                        Chit No  {{form.Chit_No}}
                                    </div>
                                    <div class="col">
                                        Chit Balance  {{form.Chit_Amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cashpayment" style="padding-top:20px;padding-bottom: 20px;border-bottom: 1px solid black;">
                            <div class="cashpaymenthead">
                                <h4><u>Cash Payment Details</u><small style="margin-left: 70px;" class="text-danger">{{ErrorAmount}}</small></h4>
                            </div>
                            <div class="cashpaymentbody">
                                <div class="row">
                                    <div class="col">
                                        Cash {{form.Cash}}
                                    </div>
                                    <div class="col">
                                        Balance {{form.Balance}}
                                    </div>
                                    <div class="col">
                                        Advance {{form.Advance}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 30px;text-align: center;margin-left: 20px;">
                            <button type="submit" class="btn btn-outline-success" >Click to Proceed</button>
                        </div>
                    </form>
                    <div style="text-align: center;margin-top: 10px;">
                        <h5 class="text-success"><u>Amount Paid :</u>&#x20B9; {{Paid}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Old Jewel Exchange</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Weight in Grams</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for i in ezip %}
                    <tr>
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.2}}</td>
                        <td><a href="{{forloop.counter0}}">Remove</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td>{{ex}}</td>
                </tr>
            </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<style>
.col6content1,.col6content2
{
    margin-bottom: 50px;
}
.col6content1
{
    transform: translateX(-5%);
}
.col6content2
{
    transform: translateX(-5%);
    border: 1px solid black;
    margin-top: 30px;
    position: fixed;
    box-shadow: black 1px 0px 10px;
}
.col6body2
{
    padding: 20px;
}
.col6head2
{
    background-color: rgb(49,49,49);
    color: white;
    padding: 10px;
    
    text-align: center;
}
.col2content
{
    margin-top: 50px;
    margin-left: 50px;
}
h4,p
{
    transition: 0.2s linear;
}
h4:hover
{
    transform: scale(1.02);
    color: darkcyan;
}
.TaxandDiscounthead
{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: rgb(49,49,49);
}
.TaxandDiscountbody
{
    
    margin-left: 10px;
    margin-top: 20px;
    padding:10px;
}
.TaxandDiscount
{
    border: 1px solid black;
    margin-top: 475px;
    width: 230px;
    margin-left: 5px;
    box-shadow: black 1px 0px 10px;
}
.OLD
{
    width: 230px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: black 1px 0px 10px;
}
.OLDhead
{
    padding: 10px;
    background-color: rgb(49,49,49);
    color: white;
    text-align: center;
}
.OLDbody
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.amount
{
    width: 360px;
    margin-left: 610px;
    transform: translateY(-7%);
}
.modal
{
    width: 1800px;
}
</style>
{% endblock %}