{% extends 'FirstApp/base.html' %}
{% block body-block %}
<div class="content" style="width: 1900px;">
  <div class="row">
    <div class="col-8">
      <div class="col8content">
        <div class="col8head">
          <h3><u>Billing Process</u></h3>
        </div>
        <div class="col8body">
          <div class="row" style="margin-top: 50px;">
            {% for n in Name %}
                <div class="col-2">
                    <p>Name : {{n.Name}}</p> 
                </div>
                <div class="col-4">
                    <p>Phone Number : +91 {{n.PhoneNumber}}</p>
                </div>
                <div class="col" style="text-align: center;">
                  
                  <p>Date : {{Date}} 
                    <a href="Delete/" style="margin-left: 20px;" class="btn btn-outline-danger">Delete</a>
                  </p>
                </div>
            {% endfor %}
          </div>
          {% if error %}
            <div class="error">
              <p class="text-danger">{{error}}</p>
            </div>
          {% endif  %}
          <table class="table" style="width:1000px;align-items: center;">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Item_id</th>
                <th scope="col" >Item_type</th>
                <th scope="col">Making_Charge</th>
                <th scope="col">Wastage</th>
                <th scope="col">Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for i in zippedList %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                  <td>{{i.0}}</td>
                  <td>{{i.1}}</td>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>
                  <td>{{i.4}}</td>
                  <td><a href="{{forloop.counter0}}" class="btn btn-outline-danger btn-sm">Remove</a></td>
              </tr>
              {% endfor %}
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td>{{Total}}</td>
              </tr>
            </tbody>
          </table>
          <div style="text-align: center;transform: translateX(-5%);">
              <a type="button" data-toggle="modal" data-target="#staticBackdrop">
                  <i class="fas fa-plus-circle fa-7x" style="background-color: white;opacity: 0.1;"></i>
                  <h5 style="opacity: 0.1;">Add Item</h5>
              </a>
          </div>
        </div>
        <div class="Bill">
          <a href="Tax&Discount/" class="btn btn-outline-success">Proceed for Payment</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col4content">
        <div class="col4head">
          <h3><u>Available Stock</u></h3>
        </div>
        <div class="col4body">
          <table class="table table-bordered" style="box-shadow: black 1px 0px 10px;">
            <thead>
              <tr>
                <th>Item ID</th>
                <th>Item Type</th>
                <th>Metal Type</th>
                <th>Item Quality</th>
                <th>Weight</th>
              </tr>
            </thead>
            <tbody>
              {% for Stock in Stock %}
                <tr>
                  <td>{{Stock.Item_id}}</td>
                  <td>{{Stock.Item_Type}}</td>
                  <td>{{Stock.Metal_Type}}</td>
                  <td>{{Stock.Item_Choice}}</td>
                  <td>{{Stock.Weight_In_Grams}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade modal1" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Add Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="post" style="width: 200px;margin-left: 140px;">
          {% csrf_token %}
          <div class="form">
              <div class="form-group">
                <label for="Item_ID">Item ID</label>
                  <input type="text" name="Item_Id" class="form-control" id="Item_ID" placeholder="Item ID" required>
              </div>
              <div class="form-group">
                <label for="Making_Charge">Making Charge</label>
                  <input type="number" name="Making_Charge" class="form-control" id="Making_Charge" placeholder="Making Charge" required>
              </div>
              <div class="form-group">
                <label for="Wastage">Wastage</label>
                  <input type="number" name="Wastage" class="form-control" id="Wastage" placeholder="Wastage" required>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-success">Add Item</button>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
body{
  background-color: white;
}
.form-control
{
  border: 1px solid rgb(40, 140, 207);
}
.col8head
{
  text-align: center;
  margin-top: 20px;
}
.col8body
{
  margin-left: 100px;
  margin-bottom: 50px;
}
.col8content
{
  margin-top: 20px;
  /* margin-bottom: 50px; */
}
.modal1
{
  transform: translateX(-20%);
}
.col4content
{
  transform: translateX(-10%);
  margin-top: 20px;
  margin-bottom: 50px;
}
.col4head
{
  text-align: center;
  margin-top: 20px;
}
.col4body,.col8body
{
  margin-top: 20px;
}
.Bill
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
</style>
{% endblock %}